<!DOCTYPE html>
<html lang="en" id="html">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/form.css" rel="stylesheet">
  <link href="css/form_client1.css" rel="stylesheet">
  <link href="css/mypage_left.css" rel="stylesheet">
  <link href="css/mypage_left2.css" rel="stylesheet">
  <link href="css/mypage_header.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/message.css" rel="stylesheet">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <!-- <script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script> -->

</head>
<body> 

 <!-- ////メッセージページ -->

 <div class="message_box_div message_post_page_div">
  <div class="message_box_div_flex">
    
        <div class="message_opponent_div_flex">
          <div class="return_icon_div"><i class="gg-chevron-left"></i></div>
          <p class="message_opponent_name">株式会社Life Can Change</p>
        </div>
    
        <div class="message_text_div" id="message_text_div">

          <div class="me_message_img_day_hm_div_flex">
            <p class="show_message">既読</p>
            <div class="message_text my_message">
              <span class="message_ymd_span">2022年12月30日 23:33</span>
              <p>株式会社Life Can Change</p>
            </div>
            <img class="message_img_msg" src="face_blue.png">
          </div>
          
          <div class="opponent_message_img_day_hm_div_flex">
            <img class="message_img_msg" src="face_blue.png">
            <div class="message_text opponent_message">
              <span class="message_ymd_span">2022年12月30日 23:33</span>
              <p>株式会社Life Can Change jんfヴァjbフィアsbvfぃhslfvlvLSHDVFVf ;u ;sbfau ;of ;bgfa ;iufg ;afgu</p>
            </div>
            <p class="show_message">既読</p>
          </div>
          
          <div class="opponent_message_img_day_hm_div_flex">
            <img class="message_img_msg" src="face_blue.png">
            <div class="message_text opponent_message">
              <span class="message_ymd_span">2022年12月30日 23:33</span>
              <p>株式会社Life Can Change </p>
            </div>
          </div>

          <div class="me_message_img_day_hm_div_flex">
            <div class="message_text my_message">
              <span class="message_ymd_span">2022年12月30日 23:33</span>
              <p>株式会社Life Can Change</p>
            </div>
            <img class="message_img_msg" src="face_blue.png">
          </div>
          
          <div class="me_message_img_day_hm_div_flex">
            <div class="message_text my_message">
              <span class="message_ymd_span">2022年12月30日 23:33</span>
              <p>株式会社Life Can Change jberbgbgjharhbfjfh vdsgcsdv cse f hgec jsac asjc jadscj djc djbc j dscdjsb vjdsjvc dsajvc jdsb cjd vjsbd vjsv jsd vjsv sjdbv jsdj vsbvsjvdbvj s</p>
            </div>
            <img class="message_img_msg" src="face_blue.png">
          </div>

          <div class="opponent_message_img_day_hm_div_flex">
            <img class="message_img_msg" src="face_blue.png">
            <div class="message_text opponent_message">
              <span class="message_ymd_span">2022年12月30日 23:33</span>
              <p>株式会社Life Can Change jんfヴァjbフィアsbvfぃhslfvlvLSHDVFVf ;u ;sbfau ;of ;bgfa ;iufg ;afgu</p>
            </div>
          </div>

          <div class="opponent_message_img_day_hm_div_flex">
            <img class="message_img_msg" src="face_blue.png">
            <div class="message_text opponent_message">
              <span class="message_ymd_span">2022年12月30日 23:33</span>
              <p>株式会社Life Can Change jんfヴァjbフィアsbvfぃhslfvlvLSHDVFVf ;u ;sbfau ;of ;bgfa ;iufg ;afgu</p>
            </div>
          </div>

        </div>

        <div class="message_post_div">
          <form onsubmit="return cancelsubmit_message_post()" method="POST" action="" enctype="multipart/form-data"class="message_post_form" action="">
            <div class="message_post_div_flex">
              <textarea name="message_post_textarea" class="message_post_textarea" column="1"></textarea>
              <input type="submit" class="message_post_sub" name="post_message" value="送信">
            </div>
          </form>
        </div>
    

  </div>
</div>


<script type="text/javascript" src="js/test_2.js"></script>