<!DOCTYPE html>
<html lang="en" id="html">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/form.css" rel="stylesheet">
  <link href="css/mypage_left.css" rel="stylesheet">
  <link href="css/mypage_header.css" rel="stylesheet">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
  <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
</head>
<body> 
  <!-- <div style="margin-top: 60px;"><div> -->


<script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>




<div id="left_shadow" class="left_shadow"></div>
<div id="box_left" class="menu_div">
  
  <div class="menu_bar">
    <div class="menu_title">
      <a href="" class="menu_title_a">Lname</a>
    </div>

    <ul class="menu_bar_ul">
      <li class="menu_li">
        <div class="icon_flex_div">
          <div class="icon_div">
            <div class="eye icon"></div>
          </div>
          <div class="menu_bar_content">
            <a class="menu_a">マイページ</a>
          </div>     
        </div>

      </li>
      <li class="menu_li">
        <div class="icon_flex_div sub_menu_have">
          <div class="icon_div">
            <div class="profile icon"></div>
          </div>
          <div class="menu_bar_content">
            <a class="menu_a">プロフィール編集</a>
          </div>
  
          <div class="purasu_icon">＋</div>
        </div>

        <div class="sub_menu_div">
          <ul class="sub_menu_ul">
            <li class="sub_menu_li"><a class="sub_menu_a">基本情報</a></li>
            <li class="sub_menu_li"><a class="sub_menu_a">自己紹介</a></li>
            <li class="sub_menu_li"><a class="sub_menu_a">経歴・作新</a></li>
            <li class="sub_menu_li"><a class="sub_menu_a">経験企業</a></li>
            <li class="sub_menu_li"><a class="sub_menu_a">経験スキル</a></li>
            <li class="sub_menu_li"><a class="sub_menu_a">希望条件</a></li>
            <li class="sub_menu_li"><a class="sub_menu_a">希望スキル等</a></li>
            <li class="sub_menu_li"><a class="sub_menu_a">こだわり条件</a></li>
          </ul>
        </div>
      </li>
      <li class="menu_li">
        <div class="icon_flex_div">
          <div class="icon_div">
            <div class="profile icon"></div>
            <div class="check icon"></div>
          </div>
          <div class="menu_bar_content">
            <a class="menu_a">スカウト一覧</a>
          </div>
        </div>
      </li>
      <li class="menu_li">
        <div class="icon_flex_div sub_menu_have">
          <div class="icon_div">
            <div class="chat icon"></div>
          </div>
          <div class="menu_bar_content">
            <a class="menu_a">メッセージ一覧</a>
          </div>
          <div class="purasu_icon">＋</div>
        </div>

        <div class="sub_menu_div">
          <ul class="sub_menu_ul">
            <li class="sub_menu_li"><a class="sub_menu_a">受信トレイ</a></li>
            <li class="sub_menu_li"><a class="sub_menu_a">送信済み</a></li>
            <li class="sub_menu_li"><a class="sub_menu_a">メッセージ作成</a></li>
          </ul>
        </div>
      </li>
      <li class="menu_li">
        <div class="icon_flex_div sub_menu_have">
          <div class="icon_div">
            <div class="clock icon"></div>
          </div>
          <div class="menu_bar_content">
            <a class="menu_a">応募状況</a>
          </div>
  
          <div class="purasu_icon">＋</div>
        </div>

        <div class="sub_menu_div">
          <ul class="sub_menu_ul">
            <li class="sub_menu_li"><a class="sub_menu_a">応募履歴一覧</a></li>
            <li class="sub_menu_li"><a class="sub_menu_a">中断された応募</a></li>
          </ul>
        </div>
      </li>
      <li class="menu_li">
        <div class="icon_flex_div sub_menu_have">
          <div class="icon_div">
            <div class="browser icon"></div>
          </div>
          <div class="menu_bar_content">
            <a class="menu_a">設定</a>
          </div>
  
          <div class="purasu_icon">＋</div>
        </div>

        <div class="sub_menu_div">
          <ul class="sub_menu_ul">
            <li class="sub_menu_li"><a class="sub_menu_a">メッセージ設定</a></li>
            <li class="sub_menu_li"><a class="sub_menu_a">パスワード設定</a></li>
            <li class="sub_menu_li"><a class="sub_menu_a">メルマガ設定</a></li>
          </ul>
        </div>
      </li>
      <li class="menu_li menu_last_li">
        <div class="icon_flex_div">
          <div class="icon_div">
            <div class="shutdown icon"></div>
          </div>
          <div class="menu_bar_content">
            <a class="menu_a">ログアウト</a>
          </div>
        </div>

      </li>
    </ul>
  </div>
</div>


<div class="main_div" id="main_div">

  <header class="mypage_header">
    <div id="mypage_menu" class="mypage_menu">
      <div class="menu icon"></div>
    </div>
    <div class="operate_p">
      <div class="mypage_search">
        <div class="search_icon_p_div">
          <div class="search icon"></div>
          <p class="search_p">案件を探す</p>
        </div>
        <div class="user_icon_div" id="user_icon_div">
          <img class="user_img" src="face_blue.png"/>
          <p class="user_name_p">佐々木 三日月</p>
        </div>
      </div>
    </div>

    <div id="user_operate_div" class="user_operate_div">
      <div class="user_one_operate_div1">
        <div class="operate_i"><i class="gg-globe-alt"></i></div>
        <div class="operate_text"><p class="user_operate_p">設定</p></div>
      </div>
      <div class="user_one_operate_div2">
        <div class="operate_i"><i class="gg-list"></i></div>
        <div class="operate_text"><p class="user_operate_p">よくあるご質問</p></div>
      </div>
      <div class="user_one_operate_div3">
        <div class="operate_i"><i class="gg-info"></i></div>
        <div class="operate_text"><p class="user_operate_p">ヘルプ</p></div>
      </div>
      <div class="user_one_operate_div4">
        <div class="operate_i"><i class="gg-log-out"></i></div>
        <div class="operate_text"><p class="user_operate_p">ログアウト</p></div>
      </div>
    </div>
  </header>

  <div class="top_title">
    <h3 class="title">基本情報</h3>
  </div>
  <!-- マイページではここの部分のみが変更される -->

  
  
  <div class="mypage_edit_div">

    <div class="mypage_edit_url_div">
      <ul class="mypage_edit_url_ul">
        <li class="mypage_edit_url_li">
          <a href="" class="mypage_edit_url_a active">基本情報</a>
        </li>
        <li class="mypage_edit_url_li">
          <a href="" class="mypage_edit_url_a">自己紹介</a>
        </li>
        <li class="mypage_edit_url_li">
          <a href="" class="mypage_edit_url_a">経歴・作品</a>
        </li>
        <li class="mypage_edit_url_li">
          <a href="" class="mypage_edit_url_a">経験企業</a>
        </li>
        <li class="mypage_edit_url_li">
          <a href="" class="mypage_edit_url_a">経験スキル</a>
        </li>
        <li class="mypage_edit_url_li">
          <a href="" class="mypage_edit_url_a">希望条件</a>
        </li>
        <li class="mypage_edit_url_li">
          <a href="" class="mypage_edit_url_a">希望スキル等</a>
        </li>
        <li class="mypage_edit_url_li">
          <a href="" class="mypage_edit_url_a">こだわり条件</a>
        </li>
      </ul>
    </div>

    <div class="mypage_form_div">
      <div id="mypage_form_center" class="mypage_form_center">
        <form method="POST" class="questionnaire_form h-adr" action="" enctype="multipart/form-data">

          <div class="thumbnail_div">
            <div class="user_thumbnail_div">
              <img class="user_thumbnail_img" src="face_blue.png"/>
            </div>

            <div class="user_thumbnail_input_div">
              <div class="edit_thumbnail_cautio_div">
                <p class="questionnaire_input_p">サムネイル</p>
                <div class="thumbnail_caution_div">
                  <div class="thumbnail_caution_flex_div">
                    <div class="check_caution icon"></div>
                    <p class="thumbnail_caution_p">pg / gif / png の10MB以下でお願い致します。</p>
                  </div>
                  <div class="thumbnail_caution_flex_div">
                    <div class="check_caution icon"></div>
                    <p class="thumbnail_caution_p">自動で正方形にトリミングされます。</p>
                  </div>
                  <div class="thumbnail_caution_flex_div">
                    <div class="check_caution icon"></div>
                    <p class="thumbnail_caution_p">各種ソーシャルサービスのプロフィール画像と連動することはありません。</p>
                  </div>
                </div>
              </div>

              <div class="thumbnail_up_div">
                <div class="thumbnai_up_file">
                  <label class="user_thumbnail_input_label">
                    <input id="user_thumbnail" class="input_file" type="file" name="user_thumbnail" onchange="selectFile()" accept="image/*"> 
                    ファイルを選択する
                  </label>
                  <span class="file_name_span" id="file_name_span">選択されていません</span>
                </div>
                <div class="thumbnai_delete">
                  <input class="file_delete_check" name="user_thumbnail" value="" type="checkbox" id="file_delete_check">
                  <div id="delete_label_div" class="delete_label_div"><label id="thumbnai_delete_label" class="thumbnai_delete_label">削除</label></div>
                </div>
              </div>
            </div>
          </div>
        
          <div class="edit_form_div flex_input">
            <p class="questionnaire_input_p">氏名</p>
                <input class="input_text" type="text" placeholder="例) 田中" name="name_1" value="" required>
                <input class="input_text input_right" type="text" placeholder="例) 太朗" name="name_2" value="" required>
          </div>

          <div class="edit_form_div flex_input">
            <p class="questionnaire_input_p">氏名(ひらがな)</p>
            <input class="input_text" type="text" placeholder="例) タナカ" name="furigana_1" value="" required>
            <input class="input_text input_right" type="text" placeholder="例) タロウ" name="furigana_2" value="" required>
          </div>

          <div class="edit_form_div">
            <p class="questionnaire_input_p">性別</p>
            <ul class="edit_form_radio_ul">
                <li class="edit_form_radio_li">
                    <input type="radio" id="1-option" name="selector1" value="男性" checked required>
                <label for="1-option">男性</label>
                <div class="check"></div>
                </li>
                <li class="edit_form_radio_li">
                    <input type="radio" id="2-option" name="selector1" value="女性"  required>
                <label for="2-option">女性</label>
                <div class="check"><div class="inside"></div></div>
                </li>
            </ul>
          </div>

          <div class="edit_form_div">
            <p class="questionnaire_input_p">生年月日</p>
            <div class="select_flex">
              <div class="cp_ipselect cp_sl01 select_3 not_change">
                  <select class="cp_sl06" name="year" required>
                  <option value="2000" selected>2000</option>
                  <option value="2001" >2001</option>
                  <option value="2002" >2002</option>
                  </select>
              </div>

              <div class="cp_ipselect cp_sl01 select_3 not_change">
                  <select class="cp_sl06" name="month" required>
                  <option value="1" selected>1</option>
                  <option value="2" >2</option>
                  <option value="3" >3</option>
                  </select>
              </div>

              <div class="cp_ipselect cp_sl01 select_3 not_change">
                  <select class="cp_sl06" name="days" required>
                  <option value="1" selected>1</option>
                  <option value="10" >10</option>
                  <option value="20" >20</option>
                  </select>
              </div>
            </div>
          </div>

          <div class="edit_form_div">
            <p class="questionnaire_input_p">国籍</p>
            <div class="cp_ipselect cp_sl01 country_select">
                <select class="cp_sl05" name="todouhuken" required>
                <option value="日本" selected>日本</option>
                <option value="アメリカ" >アメリカ</option>
                <option value="ベトナム" >ベトナム</option>
                </select>
            </div>
          </div>

          <div class="edit_form_div">
            <p class="questionnaire_input_p">最寄駅</p>
            <input class="input_text" placeholder="例) 東京駅" type="text" name="near_station" value="" required>
          </div>

          <div class="edit_form_div">
            <p class="questionnaire_input_p">現住所：郵便番号</p>
            <span class="p-country-name" style="display:none;">Japan</span>
            <input type="text" class="input_text p-postal-code" size="10" maxlength="8" placeholder="例) 1000001" name="address_number" value="" required>
          </div>

          <div class="edit_form_div">
            <div class="area_div">
              <div class="area_div_p">
                <div class="area_div_one">
                    <p class="questionnaire_input_p flex_2">都道府県</p>
                    <input type="text" class="p-region input_text_automatic" readonly placeholder="自動で入力されます" name="address_tdfk" value="" required/>
                </div>
                <div class="area_div_one area_right">
                    <p class="questionnaire_input_p flex_2">市町村</p>
                    <input type="text" class="p-locality input_text_automatic" readonly placeholder="自動で入力されます" name="address_city" value="" required/>
                </div>
              </div>
            </div>
          </div>
          
          <div class="edit_form_div">
            <p class="questionnaire_input_p">町名・番地</p>
            <input type="text" class="input_text p-street-address" required placeholder="例) 千代田３丁目1-11" name="address_banti" value="" required/>
          </div>

          <div class="edit_form_div">
            <p class="questionnaire_input_p">ビル名・部屋番号</p>
            <input type="text" class="input_text p-extended-address" placeholder="例) 〇〇ビル12階" name="address_building" value=""/>
          </div>

          <div class="edit_form_div">
            <p class="questionnaire_input_p">電話番号</p>
            <input class="input_text" type="tel" name="tel01" placeholder="例) 09012341234" value="" required>
          </div>

            <div class="submit_div" >

              <input class="input_submit" type="submit" value="変更する">
            </div>

        </form>
      </div>
    </div>

  </div>


</div>

<script type="text/javascript" src="js/my_page.js"></script>