<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>submit cancel JavaScript</title>
    <link href="css/app.css" rel="stylesheet">
    <link href="css/test.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/jquery.inview.min.js"></script>
  </head>
  <style>
    .user_notice_div {
      width: 80%;
      margin: 20px 10%;
  }
  </style>
  <body>
    <div class="user_notice_div">
      <section class="notice_section box1">
      <h3 class="notice_h3">お知らせ情報</h3>
      <div class="notice_notice_div_hr"></div>
      <p class="notice_p">マイページのリニューアルをしました。</p>
      </section>

      <section class="notice_section box2">
      <h3 class="notice_h3">プロフィール入力 20%</h3>
      <div class="notice_notice_div_hr"></div>
      <p class="notice_p">プロフィールの入力を充実させることでスカウトの受信率が高くなります。まずは、職務経歴書・スキルシートをアップロードし、充実させましょう。また、以前にアップロードしたままの方は、最新の情報を更新し、再アップロードされることをお勧めします。</p>
      </section>

      <section class="notice_section box1">
      <h3 class="notice_h3">yestttttttttt</h3>
      <div class="notice_notice_div_hr"></div>
      <p class="notice_p">様へ届いたスカウトは、『スカウト一覧』から確認することができます。今までのご経験やスキルを拝見し、マッチした案件を提案しております。スカウト内容詳細をご確認の上、応募または辞退を行ってください。1ヶ月放置すると辞退の自動処理が行われます。</p>
      </section>

      <section class="notice_section box2">
      <h3 class="notice_h3">案件登録をしよう</h3>
      <div class="notice_notice_div_hr"></div>
      <p class="notice_p">様へ届いたスカウトは、『スカウト一覧』から確認することができます。今までのご経験やスキルを拝見し、マッチした案件を提案しております。スカウト内容詳細をご確認の上、応募または辞退を行ってください。1ヶ月放置すると辞退の自動処理が行われます。</p>
      </section>
  </div>


<p>スクロールしてね↓</p>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>

<div class="fade">［動きをつけたい要素］</div>
<div class="in_div_box">
  <div class="dic_box_div">
    
    <div class="div_box" style="background:skyblue"></div>
  </div>

  <div class="dic_box_div">

    <div class="div_box" style="background:rgb(0, 255, 221)"></div>
  </div>
  
  <div class="dic_box_div">

    <div class="div_box" style="background:rgb(255, 0, 208)"></div>
  </div>

</div>

<p>スクロールしてね↓</p>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>

<div id="sample06">
  <div class="rotate"></div>
</div>


  </body>
</html>
<script type="text/javascript" src="js/test.js"></script>

<!-- // email_url_hash=yKI7k2aLlJtiBfsVTgUz1FP3O4rZX05jEpRN9SduwDcq6HhAYW -->